<main>
    <h2>Rezerwacja biletu</h2>
    <form action="/ticket" method="post">
        <input type="text" name="name" placeholder="Podaj imię">
        <input type="text" name="surname" placeholder="Podaj nazwisko">
        <input type="text" name="match" value="{{match}}" style="display: none">
        <input type="text" name="tickets" value="{{tickets}}" style="display:none;">
        <button>Zarezerwuj</button>
    </form>
</main>