<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mundial</title>
    <link rel="stylesheet" href="/styles/banner.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/home-main.css">
    <link rel="stylesheet" href="/styles/contry-site.css">
</head>
<body>
<header>
    <h1>Mundial 2022</h1>
    <a href="/"><h2>Strona główna</h2></a>
</header>

{{{body}}}
<footer>
    <h2>This site was made by Marcel Mendrok & Bartosz Strach</h2>
</footer>
</body>
</html>